services:
  postgres:
    ports:
      - "5433:5432"
  neo4j:
    environment:
      NEO4J_PLUGINS: '["apoc"]'
  minio:
    environment:
      MINIO_ROOT_USER: dev
      MINIO_ROOT_PASSWORD: devdevdev
